body {
    background-color: #fff;
}


.my-title {
    font-size: 32px;
    color: deeppink;
}

.designer-canvas {
    width: 500px;
    height: 500px;
    border: 1px dotted lightcyan;
}

.gallery-image {
    width: 100px;
    height: 60px;
    margin: 4px;
    transition: all 300ms ease-in-out;
    &:hover {
        transform: scale(1.2);
        transform-origin: 50% 0;
     }
}

.cardcoverage-message {
    color: red
}

.buttons-box {

    display: flex;
    flex-direction: row;


    button {
        height: 37px;
        margin: 5px 10px;
    }
    input {
        width: 130px;
    }
}

.border-box {
    border: 1px dotted lightcoral;
}

.inline-box {
    display: inline-block;
    margin: 5px 10px;
    padding: 4px;
}

.btn-right {
    float: right;
    margin: 5px 10px;
}

.small-text {
    font-size: 12px;
}

input[type='radio'].radio {
    width: 20px;
}

